{#
 This file is part of the MailTemplateEditor plugin

Copyright (C) 2016 LOCKON CO.,LTD. All Rights Reserved.

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['content', 'mail'] %}

{% block title %}{{ 'plugin_mailtemplateeditor.admin.mail.edit.title'|trans }}{% endblock %}
{% block sub_title %}{{ 'plugin_mailtemplateeditor.admin.mail.edit.sub_title'|trans }}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ext-language_tools.js"></script>
    <script type="text/javascript">
        var originalValue = "{{ form.tpl_data.vars.value|escape('js') }}";
        ace.require("ace/ext/language_tools");
        var editor = ace.edit("editor");
        editor.session.setMode("ace/mode/twig");
        editor.setTheme("ace/theme/tomorrow");
        editor.setValue(originalValue);
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true,
            showInvisibles: true
        });

        $('form#mail_template_editor').on('submit', function (elem) {
            $('#mail_template_tpl_data').val(editor.getValue());
        });
    </script>
{% endblock %}

{% block main %}
    <form class="form-horizontal" method="post" action="{{ url('plugin_MailTemplateEditor_mail_edit', {'name': name}) }}" id="mail_template_editor">
        {{ form_widget(form._token) }}
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <h3>{{ 'plugin_mailtemplateeditor.admin.mail.edit.header'|trans }}</h3>
                            <p>{{ 'plugin_mailtemplateeditor.admin.mail.edit.header.tip'|trans }}</p>
                        </div>

                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-2">
                                    {{ form.tpl_data.vars.label }}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div id="editor" style="height: 480px" class="form-control{{ has_errors(form.tpl_data) ? ' is-invalid'}}"></div>
                                <div class="d-none">
                                    {{ form_widget(form.tpl_data) }}
                                </div>
                                {{ form_errors(form.tpl_data) }}
                            </div>
                            <div class="row mb-2 pull-right">
                                <a class="btn btn-default" data-toggle="modal" data-target="#undo">
                                    {{ 'plugin_mailtemplateeditor.admin.mail.edit.undo'|trans }}
                                </a>

                                <div class="modal fade" id="undo" tabindex="-1" role="dialog" aria-labelledby="undo" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title font-weight-bold">
                                                    {{ 'plugin_mailtemplateeditor.admin.mail.edit.undo.confirm_header'|trans }}</h5>
                                                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            </div>
                                            <div class="modal-body text-left">
                                                <p class="text-left">
                                                    {{ 'plugin_mailtemplateeditor.admin.mail.edit.undo.confirm_message'|trans }}</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-ec-sub" type="button" data-dismiss="modal">{{ 'admin.common.cancel'|trans }}</button>
                                                <a class="btn btn-ec-delete" href="{{ url('plugin_MailTemplateEditor_mail_reedit', { 'name': name}) }}" {{ csrf_token_for_anchor() }}
                                                   data-method="put" data-confirm="false">
                                                    {{ 'admin.common.execute'|trans }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="c-conversionArea">
                <div class="c-conversionArea__container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-6">
                            <div class="c-conversionArea__leftBlockItem">
                                <a class="c-beseLink" href="{{ url('plugin_MailTemplateEditor_mail') }}">
                                    <i class="fa fa-backward" aria-hidden="true"></i><span>{{ 'common.back'|trans }}</span></a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row align-items-center justify-content-end">
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary btn-block btn-lg">{{ 'admin.common.save'|trans }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}